@import 'default'; // topic: partials, description: create partials file and naming starting with '_' but at the time of import don't use 
// it
$primary-color: #e5e5e5;
$primary-font: sans-sarif,
'cursive';
body {
    padding: 1em;
    background: $primary-color;
    font-family: $primary-font;
}

// nested
.container {
    width: 100%;
    height: 100%;
    nav {
        ul {
            li {
                font-size: 1em;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

@mixin transform_Me ($prop1, $prop2) {
    width: $prop1;
    height: $prop2;
    background-color: yellow;
    -ms-transform: rotate(20deg) scale(1.5);
    -webkit-transform: rotate(20deg) scale(1.5);
}

.transform {
    @include transform_Me(20px, 20px);
    font-size: 3em;
}

.transform2 {
    @include transform_Me(500px, 500px)
}

%extend-border {
    font-size: 24px;
    border: 1px solid #e5e5e5;
}

border {
    @extend border;
}

// pseudo Selector
.element {
    a {
        text-decoration: brown;
        font-size: 1em;
        margin-left: 250px;
        &:hover {
            text-decoration: cornflowerblue;
            font-size: 2em;
        }
    }
}

// operator 
.addition {
    font-size: 6px + 2px; // or 6px + 2;
}

.substraction {
    font-size: 6px - 2px; // or 6px - 2;
}

.multiplication {
    width: 20%*5;
    font-size: 6px*2; // 6px*2px; wrong way for multiplication
}

.division {
    font-size: (6px / 2px); // or (6px / 2);
}

p {
    &:before {
        content: "I am a string with "+ quate + ". ";
        font-family: cursive + "serif";
    }
}

h6 {
    &:after {
        content: ". I am a end with "+ quate + ". ";
        font-family: cursive + "serif";
    }
}